<!DOCTYPE html>
<html>
<title>Craft and Labor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{!-- <link rel="stylesheet" type="text/css" href="../veggie exchange/assets/style.css"> --}}
<link rel="stylesheet" type="text/css"  href="../public/styles/styles.css">
<link rel="stylesheet" type="text/css"  href="../public/styles/style.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Craft and Labor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home">About <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="contact" style="float:right;">Contact</a>
                    <a class="nav-item nav-link" href="portfolio" style="float:right;">Profile</a>
                  </div>
                </div>
        </nav>

        <br>
        
        
        <div class="row">
                <div class="col-md-2"> </div>

                <div class="col-md-8">

                        <div class="about">
                                <h2>Andrew Carson</h2>
                                <br>    
        
                                <img src="images/myphoto.jpg" class="myphoto" style="width:200px; float:left;">
                                <p class="text" √>Andrew was born in 1987, and is therefore a Fire Rabbit according to 
                                    Chinese ology. He very much enjoys being a fire rabbit. 
                                He is an amateur soccer player who could definitely stand to lose a few #s.</p>
        
                                <p class="text">In recent years, through work and play, Andrew has developed basic woodworking
                                    abilities and appreciation.  He is excited to share those new abilities with 
                                    friends, customers, future friends, and future customers.
                                </p>
        
                                <p class="text">On the Portfolio page you can see examples of his previous work. 
                                    If you have any comments, suggestions, or desires regarding these,
                                    please feel free to reach out using the Contact page.  Not really, though.  
                                    He's still learning javascript.    
        
                                </p>
        
        
                            </div>
                </div>


                <div class="col-md-2"></div>

            </div>

        <div class="footer-copyright text-center py-3 fixed-bottom">
            <footer class="page-footer">
                Copyright ASC
            </footer>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>