<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Craft and Labor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="home">About <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="contact" style="float:right;">Contact</a>
          <a class="nav-item nav-link" href="portfolio" style="float:right;">Profile</a>
        </div>
      </div>
</nav>
<br>
    <div class="row"> 
      <div class="col-md-2"></div>
      <div class="col-md-8"><h2>Portfolio</h2></div>
      <div class="col-md-2"></div>
    </div> 
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <img id = "img1" src="images/side table.JPG" alt= "Side Table" style="height:200px; width:200px; transform:rotate(90deg);margin:10px;">

<!-- The Modal -->
            <div id="myModal1" class="modal">

            <!-- The Close Button -->
            <span class="close close1">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption1"></div>
            </div>
      </div>
      <div class="col-md-4">
        <img id = "img2" src="images/coffee table.JPG" style="height:200px;width:200px; transform:rotate(90deg);margin:10px;">
            <div id="myModal2" class="modal">

            <!-- The Close Button -->
            <span class="close close2">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img02">

            <!-- Modal Caption (Image Text) -->
            <div id="caption2"></div>
            </div>
      </div>

      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <img id = "img3" src="images/saladware.JPG" style="height:200px;width:200px; transform:rotate(90deg);margin:10px;">
            <div id="myModal3" class="modal">

            <!-- The Close Button -->
            <span class="close close3">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img03">

            <!-- Modal Caption (Image Text) -->
            <div id="caption3"></div>
            </div>
      </div>
      <div class="col-md-4">
        <img id="img4" src="images/game table.JPG" style="height:200px;width:200px; transform:rotate(90deg);margin:10px;">
            <div id="myModal4" class="modal">

            <!-- The Close Button -->
            <span class="close close4">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img04">

            <!-- Modal Caption (Image Text) -->
            <div id="caption4"></div>
            </div>
      </div>

      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <img id="img5" src="images/sandbox.JPG" style="height:200px;width:200px; transform:rotate(90deg);margin:10px;">
            <div id="myModal5" class="modal">

            <!-- The Close Button -->
            <span class="close close5">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img05">

            <!-- Modal Caption (Image Text) -->
            <div id="caption5"></div>
            </div>
      </div>
      <div class="col-md-4">
        

      </div>

      <div class="col-md-2"></div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/modalControl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>